*{
	margin: 0;
}
html{
	font-size: 16px;
}
ul{
	display: inline-block;
	list-style: none;
	vertical-align: top;
}	
a{
	color:white;
	text-decoration: none;
}
#home, #about, #gallery, #contact{
	min-height: 500px;
	width: 100%;
	padding: 30px 0;
}
#home{
	background: #9dbdbe;
}
#about{
	background: #fff;
}
#gallery{
	background: #90b5c5;
}
#contact{
	background: #9cbdbf;	
}
.separador{
	height: 10px;
	border-top: 10px solid white;
	border-bottom: 5px solid white;
	background: #9cbdbf;
	width: 100%;

}
article{
	margin: 0 auto ;
	max-width: 1024px;
}
header{
	background: #a5c3c5;
	width: 100%;
}
header section{
	margin: 0 auto;
	max-width: 1024px;
	min-width: 320px;		
}
header section hgroup{
	display: inline-block;
	vertical-align: top;
	width: 30%;
}
header section hgroup h1 img{
	height: 100px;
	width:100%;
}
header section aside{
	display: inline-block;
	vertical-align: top;
	width: 70%;
}
header section aside .social{
	height: 50px;
	width: 100%;
	text-align: right;
	margin-top: 20px;
}
header section aside nav{
	height: 50px;
	width: 100%;
}
header section aside nav li{
	display: inline-block;
}
header section aside nav li a{
	background:white;
	font-size: 1em;
	border-radius: 5px;
	box-shadow: 0px 1px 5px rgba(39,40,34,.3);
	color: #5d9191;
	display: block;
	margin-left: 24px;
	padding:10px 40px 10px 40px;
	text-shadow: 0 1px 0px rgba(58,105,105,.5);
	text-transform: uppercase;
}
header section aside nav li a:hover{
	background:rgb(93,145,145);
	color: white;
	text-shadow: 0 1px 0px rgba(58,105,105,.5);
}
header section aside .titulo{
	width: 100%;
}
header section aside h2{
	color: #fff;
	font-size: 4em;
	font-weight: normal;
	padding-left:25px;
	text-shadow: 0px 3px 0 rgba(138,173,173,.8);
	text-transform: uppercase;
}
header section aside h2 strong{
	font-weight: bold;
}
#home .slide{
	width:70%;
	height: 450px;
	display: inline-block;
}
#home .slide img{
	border:7px solid white;
	box-shadow: 0 4px 5px #909090; 
}
#home aside{
	width:30%;
	height: 450px;
	display: inline-block;
}
#gallery img{
	width: 32%;
	height: 250px;
	border: 5px solid white;
}
#contact form{
	width: 30%;
	display: inline-block;
	vertical-align: top;
}
#contact form label{
	display: block;
	color: #fff;
	font-size: 1.3em;
}
#contact form input, #contact form textarea{
	height: 2em;
	width: 80%;
	font-size: 1em;
	line-height: 1.625em;
	border: none;
	margin: 0 0 0.8125em 0;
	padding: 0 3%;
	box-shadow: 0 1px 5px #909090;
}
#contact form textarea{
	height: 10em;
}
#enviar{
	background-color:#07817D;
	color: #fff;
	border: none;
	padding: 10px 30px;
	border-radius: 5px;
}
#contact aside{
	width: 70%;
	display: inline-block;
	vertical-align: top;
}
#contactanos{
	width: 50%;
	height: 350px;
	background: blue;
	display: inline-block;
	vertical-align: top;
}
#gmaps{
	width: 50%;
	height: 350px;
	background: red;
	display: inline-block;
	vertical-align: top;
}

